---
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
import Contact from "../layouts/Contact.astro";
import '../../styles/index.css'

---

<Layout title="Adan Sanchez Hernandez">
    <main>	
        <Nav></Nav>
       <Contact></Contact>
	</main>
</Layout>