---
import '../../styles/home.css';
import About from '../layouts/About.astro';
import Nav from '../layouts/Nav.astro';
import Footer from '../layouts/Footer.astro';
---

<Nav></Nav>
<About></About>
<Footer></Footer>
