---
import Layout from '../layouts/Layout.astro';
import Home from '../pages/Home.astro';
import Proyects from './Proyects.astro';
import '../../styles/index.css';
---

<Layout title="Adán Sánchez Hernández">
	<main>	
        <Home></Home>
	</main>
</Layout>

