---
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/Nav.astro';
import Home from '../pages/Home.astro';
import Card from '../components/Card.astro';
import '../../styles/index.css';
---

<Layout title="Adán Sánchez Hernández">
	<main>	
		<Nav></Nav>
        <Home></Home>
	</main>
</Layout>

