---
import Nav from "../layouts/Nav.astro";
import Layout from "../layouts/Layout.astro";
import ProyectsLayout from "../layouts/ProyectsLayout.astro";
import '../../styles/index.css'
---

<Layout title="Adan Sanchez Hernandez">
    <main>	
        <Nav></Nav>
        <ProyectsLayout></ProyectsLayout>
	</main>
</Layout>