---
import '../../styles/btn.css';
---
<div class=" div-btn col-6 col-sm-4 ms-auto">
    <div class="d-grid gap-2">
        <button class="btn button-custom" type="button"><span class="btn-text">CURRICULUM</span></button>
    </div>
</div>