---
import '../../styles/btn.css';
const base= import.meta.env.BASE_URL;
---
<div class="div-btn col-6 col-sm-4 ms-auto d-flex align-items-center">
    <div class="d-grid gap-2 w-75">
        <button class="btn button-custom" type="button">
            <a href= {`${base}Adan-CV.pdf`} target="_blank" style="text-decoration: none;">
                <span class="btn-text">CURRICULUM</span>
            </a>
        </button>
    </div>
    <div class="w-25 text-center">
        <a href="https://drive.google.com/file/d/1tXtvDoTyro6q5Pj9YOzmmgMrO7yxy2eg/view?usp=sharing" target="_blank" >
            <i class="bi bi-play-circle"></i> <!-- Ãcono de Bootstrap -->
        </a>
    </div>
</div>
