---
import '../../styles/motto.css'
---

<div class="container text-center">
    <div class="row text-start mt-5">
        <p><i class="bi bi-arrow-left"></i> <span class="motto">Hoy resuelves bugs, mañana creas sistemas.</span> <i class="bi bi-arrow-right"></i></p>     
    </div>
</div>