---
import '../../styles/motto.css'
---

<div class="div-motto col-6 col-sm-4 text-start">
    <p><i class="bi bi-arrow-left"></i> <span class="motto">Hoy resuelves bugs, mañana creas sistemas.</span><i class="bi bi-arrow-right"></i></p>       
</div>