---
import '../../styles/photo.css'
---

<div class="div-img col-6 col-sm-4 ms-auto">
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quaerat, placeat perferendis ea voluptates voluptatum eos reprehenderit fugit alias corrupti eius vero itaque dolorum perspiciatis impedit officia tenetur corporis cumque.</p>
</div>