---
import '../../styles/profile.css';
---
<div class="profile col-6 col-sm-5 text-start">
    <p class="text-profile">
        Apasionado por la tecnología, capaz de desarrollar backend de forma escalable y legible.
        <br>  
        Construyendo mi carrera profesional en ingeniería de software y sistemas computacionales.
        <br>
        Aprendiendo de manera autodidacta cómo implementar software en entornos reales.
        <br>    
        Creando soluciones eficientes para usuarios con necesidades específicas.</p>
</div>