---
import '../../styles/profile.css';
---
<div class="row profile d-flex aling-items-center mt-5 ">
    <div class="col-sm-5 col-md-6 text-start px-1">
       <p class="text-profile">
        Apacionado por la tecnologia capas de realizar el backend de forma escalable y legible.
        <br>  
        Formando mi carrera profecional con la ingenieria de software y sistemas computacionales.
        <br>
        Aprendiendo de manera autidacta como implementar software en entornos de la vida real. 
        <br>    
        Creando soluciones para un usuario de un problema en especifico.</p>
    </div>
</div>