---
import '../../styles/socialmedia.css'
---

<div class="col-md-4 text-start social">
    <ul>
        <a href="https://www.linkedin.com/in/ad%C3%A1n-s%C3%A1nchez-hern%C3%A1ndez-226315209/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i> Adan Sanchez</a>
        <br>
        <a href="https://workspace.google.com/intl/es-419_mx/gmail/" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope-at"></i> adansaherr30@gmail.com</a>
        <br>
        <a href="https://github.com/Adan0930" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i> Adan0930</a>
    </ul>
</div>