---
import Profile from "../components/Profile.astro";
import Name from "../components/Name.astro";
import Motto from "../components/Motto.astro";
---

<div class="container text-center">
    <Name></Name>
    <Profile></Profile>
    <Motto></Motto>

</div>