---
import SocialMedia from "../components/SocialMedia.astro"
import Form from "./Form.astro"
import '../../styles/contact.css'
---


<div class="container">
    <div class="row">
        <SocialMedia></SocialMedia>
        <Form></Form>
    </div>
</div>