---
import '../../styles/footer.css'
const base = import.meta.env.BASE_URL; // Definir la base URL
---
<footer>
  <div class="container">
    <!-- Logo y nombre -->
    <div class="logo-nombre">
      <a href="/"><img src={`${base}LOGO-PNG-SF.png`} alt="Logo" class="logo"></a>
      <h5 class="nombre">Adán Sánchez Hernández</h5>
    </div>
    <!-- Iconos de redes sociales -->
    <div class="redes-sociales">
      <a href="https://www.linkedin.com/in/ad%C3%A1n-s%C3%A1nchez-hern%C3%A1ndez-226315209/" target="_blank" rel="noopener noreferrer"  class="icono"><i class="bi bi-linkedin"></i></a>
      <a href="https://workspace.google.com/intl/es-419_mx/gmail/" target="_blank" rel="noopener noreferrer" class="icono"><i class="bi bi-envelope-at"></i></a>
      <a href="https://github.com/Adan0930" target="_blank" rel="noopener noreferrer" class="icono"><i class="bi bi-github"></i></a>
    </div>
    <!-- Derechos de autor -->
    <div class="derechos">
      <p>&copy; 2025 Adan Sanchez Hernandez. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
