---
import '../../styles/form.css'
---





    <form action="https://formsubmit.co/adansaherr30@gmail.com" method="post">
        <div class="position-relative mb-3">
            <i class="bi bi-person position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input type="text" class="form-control ps-5" placeholder="Nombre" required>
        </div>
        <div class="position-relative mb-3">
            <i class="bi bi-envelope-at position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input type="email" class="form-control ps-5" placeholder="Email" required>
        </div>
        <div class="position-relative mb-3">
            <i class="bi bi-chat-left-text position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <textarea class="form-control ps-5 pt-4" rows="2" placeholder="Mensaje"></textarea>
        </div>
        <button type="submit" class="btn w-100"><i class="bi bi-send-fill"></i> Enviar</button>
    </form>
       
