---
import '../../styles/navbar.css';
const base = import.meta.env.BASE_URL; // Definir la base URL
---

<nav class=" navbar navbar-expand-lg" >
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="/AS-Portfolio/">
        <img class="LogoAS" src={`${base}LOGO-PNG-SF.png`} alt="" width="40px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto gap-5">
          <li class="nav-item">
            <a class="nav-link me-5" aria-current="page" href="/AS-Portfolio/">INCIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-5" href="/AS-Portfolio/Proyects">PROYECTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-5" href="/AS-Portfolio/Contacto/">CONTACTO</a>
          </li>    
        </ul>
      </div>
    </div>
  </nav>