---
import '../../styles/navbar.css';
---

<nav class=" fondo navbar navbar-expand-lg bg-body-tertiary" style="background: #000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../public/LOGO-PNG-SF.png" alt="" width="30px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">INCIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PROYECTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>