@import url(../styles/variables.css);

.div-btn{
    margin-right: 100px;
}
.button-custom{
    background-color: var(--text-orange-color);
    border-radius: 30px;
}
.btn-text{
    font-family: 'K2D';
    font-size:18px;
    letter-spacing:5px;
    font-weight:500;
    color: var(--text-clear-color);
}

.btn-text:hover{
    color: var(--text-orange-color);
}