@import url(../styles/variables.css);

.container-custom {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Centra el formulario */
  margin-right: 250px;
  font-family: 'K2D';

}

.form-container {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  padding: 30px;
}

.form-control {
  background-color: transparent;
  border: 1px solid var(--text-orange-color);
  border-radius: 12px;
  color: var(--text-clear-color); /* Texto blanco */
  padding-left: 40px; /* Espacio para los íconos */
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-control::placeholder {
  color: var(--text-clear-color);
  letter-spacing: 2px;
  font-weight: 100;
}

.form-control:focus {
  border-color: var(--text-orange-color); /* El borde se mantiene naranja */
  outline: none; /* Sin borde blanco al hacer clic */
  background-color: transparent; /* El fondo no cambia al escribir */
  color:var(--text-clear-color); /* Texto blanco cuando el input está enfocado */
}

.form-control:focus::placeholder {
  color:var(--text-clear-color); /* Placeholder blanco cuando está enfocado */
}

.form-control::-webkit-input-placeholder {
  color: var(--text-clear-color); /* Placeholder blanco para Webkit */
}

.form-control:-moz-placeholder {
  color: var(--text-clear-color); /* Placeholder blanco para Firefox */
}

.form-control::-moz-placeholder {
  color: var(--text-clear-color); /* Placeholder blanco para Firefox */
}

.form-control:-ms-input-placeholder {
  color:var(--text-clear-color); /* Placeholder blanco para IE */
}

.btn{
  background-color:var(--text-orange-color) !important; 
  border: none;
  color: var(--text-clear-color);
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-form i {
  margin-right: 10px; /* Espacio entre icono y texto */
}

button:hover {
  background-color: transparent !important;
  border: 1px solid var(--text-orange-color) !important; /* Borde naranja en hover */
  color:var(--text-orange-color) !important;
}

button:hover i {
  color:var(--text-orange-color); /* Icono naranja al pasar el mouse */
}

button:focus {
  outline: none;
}

.text-white {
  color: var(--text-clear-color) !important;
}

/* Responsividad */

  
@media (max-width: 1400px) {
  .container-custom {
    margin-right: 80px;
    height: 90vh;
  }

  .form-container {
    padding: 20px;
    max-width: 90%;
  }

  .form-control {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
